<%- include("partials/header") %>

<h2 class="headline middle">Provide blood units in emergency</h2>
<div class="box">
  <form class="" action="/provide-emergency" method="post">
    <label for="quantity" class="form-label">Quantity</label>
    <input type="text" class="form-control form-control-sm" id="quantity" name="quantity" value="">
    <button type="submit" class="btn btn-primary submit" name="button">Submit</button>
  </form>
</div>

<div class="back">
    <a class="btn btn-primary" href="/user-home" role="button">Back</a>
</div>

</body>
</html>
