<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood Reception</title>
</head>
<body>
    <h1>Blood Bank Of Israel</h1>
    <form action="/addBlood" method="post">
        <label>A+</label>  <input  name="Aplus"   type="number"   min="0" value="0" autocomplete="off">
        <label>B+</label>  <input  name="Bplus"   type="number"   min="0" value="0" autocomplete="off">
        <label>AB+</label> <input  name="ABplus"  type="number"   min="0" value="0" autocomplete="off">
        <label>O+</label>  <input  name="Oplus"   type="number"   min="0" value="0" autocomplete="off">
        <button type="submit">Add Blood Transfusion</button>
    </form>
</body>
</html>